<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="index_css.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="barraNavigazione">
        <div style="float: left; margin-top: 8px;">
            <a href="loginForm.html"><img src="Instagram.jpeg" alt="instagram" height="30px" width="30px" style="padding: 0.73%;"></a>
        </div>
        <div style="float:right ;">
            <li><a href="loginForm.html" style="text-align: right">Login</a></li>
            <li><a href="registrazioneForm.html" style="text-align: center">Registrati</a></li>
        </div>
        <div>
            <ul>
                <li><a href="">Chi siamo</a></li>
                <li><a href="loginForm.html">Cosa0</a></li>
                <li><a href="loginForm.html">Cosa1</a></li>
                <li><a href="loginForm.html">Cosa2</a></li>
                <li><a href="loginForm.html">Cosa3</a></li>
            </ul>
        </div>
    </div>

    <h2 style="text-align: center;"> GRAN CATERING SERVICE</h2>

    <div class="informazioni">
        <div>
            <img src="matrimonio.jpg" style="height: 200px; width: 300px;  margin-left: 100px;">
            <img src="evento_privato.jpg" style="height: 200px; width: 300px; margin-left: 100px;">
            <img src="evento_aziendale.jpg" style="height: 200px; width: 300px; margin-left: 100px;">
        </div>
        <ul>
            <li> Servizio catering matrimonio</li>
            <li> Eventi privati</li>
            <li> Eventi aziendali</li>
        </ul>
    </div>

</body>

</html>
