<!DOCTYPE html>
<html>

<head>
    <link href="css.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="barraNavigazione">
        <div style="float: left; margin-top: 8px;">
            <a href="index.html"><img src="catering.jpg" height="30px" width="30px" style="padding: 0.73%;"></a>
        </div>
        <div style="float:right ;">
            <li><a href="loginForm.html" style="text-align: right">Login</a></li>
            <li><a href="registrazioneForm.html" style="text-align: center">Registrati</a></li>
        </div>
        <div>
            <ul>
                <li><a href="chiSiamo.html">Chi siamo</a></li>
                <li><a href="listaChef.html">Chef</a></li>
                <li><a href="listaBuffet.html">Buffet</a></li>
                <li><a href="listaPiatti.html">Piatti</a></li>
            </ul>
        </div>
    </div>

    <h1 style="text-align: center;"> GRAN CATERING SERVICE</h1>

    <h2 style="text-align: center;">I NOSTRI BUFFET:</h2>

    <div class="oggetti" style="margin-top: 50px;">
        <ul>
            <li>
                <a href="buffet.html" style="color: black;">PLUTO</a></li>
            <li>
                <a href="buffet.html" style="color: black;">PIPPO</a></li>
            <li>
                <a href="buffet.html" style="color: black;">CICCIO</a></li>
            <li>
                <a href="buffet.html" style="color: black;">PAPERINO</a></li>
        </ul>
    </div>





</body>

</html>