<!DOCTYPE html>
<html>

<head>
    <link href="css.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="barraNavigazione">
        <div style="float: left; margin-top: 8px;">
            <a href="index.html"><img src="catering.jpg" height="30px" width="30px" style="padding: 0.73%;"></a>
        </div>
        <div style="float:right ;">
            <li><a href="loginForm.html" style="text-align: right">Login</a></li>
            <li><a href="registrazioneForm.html" style="text-align: center">Registrati</a></li>
        </div>
        <div>
            <ul>
                <li><a href="chiSiamo.html">Chi siamo</a></li>
                <li><a href="listaChef.html">Chef</a></li>
                <li><a href="listaBuffet.html">Buffet</a></li>
                <li><a href="listaPiatti.html">Piatti</a></li>
            </ul>
        </div>
    </div>

    <h2 style="text-align: center;"> GRAN CATERING SERVICE</h2>

    <div class="dati" style="margin-top: 50px; margin-left: 30px;">
        <ul>
            <li style="margin-left: 20px;">Nome: </li>
            <li><a href="buffet.html" style="color: black;">Buffet: </a></li>
            <li style="margin-left: 20px;">Descrizione: </li>
            <li><a href="ingredienti.html" style="color: black;">Ingredienti:</a></li>
        </ul>
    </div>

</body>

</html>